# Environment variables for Synclounge

# If set, only the users defined here and the users of the plex servers defined here will be able to access the server. Use e-mails, plex usernames and/or plex server machine ids, comma separated, no spaces.
AUTH_LIST=plexuser1,plexuser2,email1,machineid1

