# Environment variables for Pairdrop

# PUID
# for UserID
PUID=1024

# PGID
# for GroupID
PGID=100

# TZ
# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# RATE_LIMIT
# Set to `true` to limit clients to 100 requests per 5 min
RATE_LIMIT=false

# WS_FALLBACK
# Set to `true` to enable websocket fallback if the peer to peer WebRTC connection is not available to the client (see App Setup notes).
WS_FALLBACK=false

# RTC_CONFIG
# Path to a json file containing custom STUN/TURN config (see App Setup notes)
RTC_CONFIG=

# DEBUG_MODE
# Set to `true` to debug the http server configuration by logging clients IP addresses used by PairDrop to STDOUT. [See here for more info](https://github.com/schlagmichdoch/PairDrop/blob/master/docs/host-your-own.md#debug-mode). Do not use in production!
DEBUG_MODE=false

