# Environment variables for Emulatorjs

# PUID
# for GroupID
PUID=1024

# PGID
# for UserID
PGID=100

# TZ
# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# SUBFOLDER
# Specify a subfolder for reverse proxies IE '/FOLDER/'
SUBFOLDER=/

