# Environment variables for Emulatorjs

# for GroupID
PUID=1024

# for UserID
PGID=100

# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# Specify a subfolder for reverse proxies IE '/FOLDER/'
SUBFOLDER=/

