version: '3.8'

services:
  guacamole:
    image: oznu/guacamole:latest
    container_name: guacamole
    restart: unless-stopped
    ports:
      - "8080:8080/tcp"
    volumes:
      - /portainer/Files/AppData/Config/Guacamole:/config
