# Environment variables for Pure-FTP Server

# FTP_USER_NAME
FTP_USER_NAME=depot

# FTP_USER_PASS
FTP_USER_PASS=badpass

# FTP_USER_HOME
FTP_USER_HOME=/data

# FTP_USER_GID
FTP_USER_GID=15000

# FTP_USER_UID
FTP_USER_UID=15000

# TZ
TZ=America/Los_Angeles

# PUBLICHOST
PUBLICHOST=localhost

