# Environment variables for Penpot (http) {shmolf}

PUID=1000

PGID=1000

# Frontend Flags
PENPOT_FLAGS_FE=enable-registration disable-secure-session-cookies enable-insecure-register enable-login-with-password

# Backend Flags
PENPOT_FLAGS_BE=enable-registration disable-secure-session-cookies enable-insecure-register disable-email-verification

# Public URI
# Public URI. If you are going to expose this instance to the internet and use it under different domain than 'localhost', you will need to adjust it to the final domain.
PUBLIC_URI=http://192.168.1.1:8624

# Penpot Telemetry Enabled?
# When enabled, a periodical process will send anonymous data about this instance.
TELEMETRY_ENABLED=

# Http Port
# This should match the port specified in the Public URI, or 80/443 if using standard ports.
PORT=8624

