# Environment variables for Pydio-cells

# PUID
# for UserID
PUID=1024

# PGID
# for GroupID
PGID=100

# TZ
# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# EXTERNALURL
# The external url you would like to use to access Pydio Cells (Can be https://domain.url or https://IP:PORT).
EXTERNALURL=yourdomain.url

# SERVER_IP
# Enter the LAN IP of the docker server. Required for local access by IP, added to self signed cert as SAN (not required if accessing only through reverse proxy).
SERVER_IP=0.0.0.0

