# Environment variables for Snipe-it

# for GroupID
PUID=1024

# for UserID
PGID=100

# Hostname or IP and port if applicable IE <ip or hostname>:8080
APP_URL=<hostname or ip>

# Mysql hostname or IP to use
MYSQL_PORT_3306_TCP_ADDR=<mysql host>

# Mysql port to use
MYSQL_PORT_3306_TCP_PORT=<mysql port>

# Mysql database to use
MYSQL_DATABASE=<mysql database>

# Mysql user to use
MYSQL_USER=<mysql pass>

# Mysql password to use
MYSQL_PASSWORD=changeme

