version: '3.8'

services:
  adguard:
    image: adguard/adguardhome:latest
    container_name: adguard
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "68:68/tcp"
      - "68:68/udp"
      - "80:80/tcp"
      - "443:443/tcp"
      - "853:853/tcp"
      - "3000:3000/tcp"
    volumes:
      - /portainer/Files/AppData/Adguard/Workdir:/opt/adguardhome/work
      - /portainer/Files/AppData/Adguard/Conf:/opt/adguardhome/conf
    environment:
      PUID: 1000
      PGID: 100
      CONTEXT_PATH: ${CONTEXT_PATH}
