version: '3.8'

services:
  authelia:
    image: authelia/authelia:latest
    container_name: authelia
    restart: unless-stopped
    ports:
      - "9091:9091/tcp"
    volumes:
      - /portainer/Files/AppData/Config/Authelia:/etc/authelia/
    environment:
      TZ: ${TZ}
