# Environment variables for Kometa

# PUID
# for UserID
PUID=1024

# PGID
# for GroupID
PGID=100

# TZ
# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# KOMETA_CONFIG
# Specify a custom config file to use.
KOMETA_CONFIG=/config/config.yml

# KOMETA_TIME
# Comma-separated list of times to update each day. Format: `HH:MM`.
KOMETA_TIME=03:00

# KOMETA_RUN
# Set to `True` to run without the scheduler.
KOMETA_RUN=False

# KOMETA_TEST
# Set to `True` to run in debug mode with only collections that have `test: true`.
KOMETA_TEST=False

# KOMETA_NO_MISSING
# Set to `True` to run without any of the missing movie/show functions.
KOMETA_NO_MISSING=False

