# Environment variables for Owncloud

# PUID
PUID=1000

# PGID
PGID=100

# TZ
TZ=

# OWNCLOUD_DOMAIN
OWNCLOUD_DOMAIN=

# DB_PASSWORD
DB_PASSWORD=

# ADMIN_USERNAME
ADMIN_USERNAME=

# ADMIN_PASSWORD
ADMIN_PASSWORD=

# PORT
PORT=

