version: '3.8'

services:
  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    ports:
      - "6881:6881/tcp"
      - "6881:6881/udp"
      - "8080:8080/tcp"
    volumes:
      - /portainer/Files/AppData/Config/qBittorrent:/config
      - /portainer/Downloads:/downloads
    environment:
      PUID: 1000
      PGID: 100
