# Environment variables for Cloud9

# PUID
# for GroupID
PUID=1024

# PGID
# for UserID
PGID=100

# TZ
# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# GITURL
# Specify a git repo to checkout on first startup
GITURL=https://github.com/linuxserver/docker-cloud9.git

# USERNAME
# Optionally specify a username for http auth
USERNAME=

# PASSWORD
# Optionally specify a password for http auth (if USERNAME and PASSWORD are not set, there will be no http auth)
PASSWORD=

