# Environment variables for Cloud9

# for GroupID
PUID=1024

# for UserID
PGID=100

# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# Specify a git repo to checkout on first startup
GITURL=https://github.com/linuxserver/docker-cloud9.git

# Optionally specify a username for http auth
USERNAME=

# Optionally specify a password for http auth (if USERNAME and PASSWORD are not set, there will be no http auth)
PASSWORD=changeme

