# Environment variables for Deluge openvpn

PUID=1001

# PGID
PUID=1001

# see https://github.com/sgtsquiggs/docker-deluge-openvpn
OPENVPN_PROVIDER=MULLVAD

OPENVPN_USERNAME=

OPENVPN_PASSWORD=changeme

