version: '3.8'

services:
  plex:
    image: linuxserver/plex:latest
    container_name: plex
    restart: unless-stopped
    volumes:
      - /portainer/Files/AppData/Config/Plex:/config
      - /portainer/TV:/tv
      - /portainer/Movies:/movies
    environment:
      PUID: 1000
      PGID: 100
      VERSION: ${VERSION}
