node_modules/
.DS_Store
*.log
.env
portainer_registery.json
arcane_registry.json
fix-incomplete.js
find-alternatives.js
incomplete-templates.json
fix-incomplete.log
portainer_registery*.json
portainer_registery extra 1.json
portainer_registery extra 2.json
portainer_registery extra 3.json
*.sh
*.claude
