# Environment variables for Flexget

# for UserID
PUID=1024

# for GroupID
PGID=100

# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# Set the FlexGet logging level.
FG_LOG_LEVEL=info

# Set the FlexGet log file location.
FG_LOG_FILE=/config/flexget.log

# Set the FlexGet config file location.
FG_CONFIG_FILE=/config/.flexget/config.yml

# Set the FlexGet webui password. Pay attention to Bash/YAML reserved characters.
FG_WEBUI_PASSWORD=info

