version: '3.8'

services:
  whoogle:
    image: benbusby/whoogle-search:latest
    container_name: whoogle
    restart: unless-stopped
    ports:
      - "5001:5000/tcp"
    volumes:
      - /portainer/Files/AppData/Config/Whoogle:/config
