version: '3.8'

services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    ports:
      - ":80/tcp"
    volumes:
      - /portainer/Files/AppData/Config/Vaultwarden:/config
