# Environment variables for Librespeed

# PUID
# for UserID
PUID=15000

# PGID
# for GroupID
PGID=15000

# TZ
# Specify a timezone to use for example Europe/Amsterdam
TZ=America/Los_Angeles

# PASSWORD
# Set the password for the results database.
PASSWORD=PASSWORD

# CUSTOM_RESULTS
# (optional) set to `true` to enable custom results page in `/config/www/results/index.php`.
CUSTOM_RESULTS=false

# DB_TYPE
# Defaults to `sqlite`, can also be set to `mysql` or `postgresql`.
DB_TYPE=sqlite

# DB_NAME
# Database name. Required for mysql and pgsql.
DB_NAME=DB_NAME

# DB_HOSTNAME
# Database address. Required for mysql and pgsql.
DB_HOSTNAME=DB_HOSTNAME

# DB_USERNAME
# Database username. Required for mysql and pgsql.
DB_USERNAME=DB_USERNAME

# DB_PASSWORD
# Database password. Required for mysql and pgsql.
DB_PASSWORD=DB_PASSWORD

# DB_PORT
# Database port. Required for mysql.
DB_PORT=DB_PORT

