# Environment variables for Librespeed

# for UserID
PUID=15000

# for GroupID
PGID=15000

# Specify a timezone to use for example Europe/Amsterdam
TZ=America/Los_Angeles

# Set the password for the results database.
PASSWORD=PASSWORD

# (optional) set to `true` to enable custom results page in `/config/www/results/index.php`.
CUSTOM_RESULTS=false

# Defaults to `sqlite`, can also be set to `mysql` or `postgresql`.
DB_TYPE=sqlite

# Database name. Required for mysql and pgsql.
DB_NAME=DB_NAME

# Database address. Required for mysql and pgsql.
DB_HOSTNAME=DB_HOSTNAME

# Database username. Required for mysql and pgsql.
DB_USERNAME=DB_USERNAME

# Database password. Required for mysql and pgsql.
DB_PASSWORD=DB_PASSWORD

# Database port. Required for mysql.
DB_PORT=DB_PORT

