# Environment variables for Immich {shmolf}

PUID=1000

PGID=1000

# Immich version
# To want to lock to a specific tag, provide a value such as 'v1.71.0'
IMMICH_VERSION=release

# Database username
DB_USERNAME=postgres

# Database password
# This should be changed to a random secret
DB_PASSWORD=please-change-this-to-a-random-secret

# Database name
DB_DATABASE_NAME=immich

# Database hostname
# The default value references a service within the stack
DB_HOSTNAME=immich_postgres

# File backup location
# You can leave this path as-is, and the system will auto-create the needed folders. Feel free to change if you desire an alternative location.
UPLOAD_LOCATION=/portainer/Files/AppData/Immich/upload

# Redis hostname
# The default value references a service within the stack
REDIS_HOSTNAME=immich_redis

# Http Port
PORT=2283

