# Environment variables for Kasm

# Specify the port you bind to the outside for Kasm Workspaces.
KASM_PORT=443

# Optionally specify a DockerHub Username to pull private images.
DOCKER_HUB_USERNAME=USER

# Optionally specify a DockerHub password to pull private images.
DOCKER_HUB_PASSWORD=PASS

# Optionally specify the mtu options passed to dockerd.
DOCKER_MTU=1500

