# Environment variables for Faster-whisper

# PUID
# for UserID
PUID=1024

# PGID
# for GroupID
PGID=100

# TZ
# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# WHISPER_MODEL
# Whisper model that will be used for transcription. From `tiny`, `base`, `small` and `medium`, all with `-int8` compressed variants
WHISPER_MODEL=tiny-int8

# WHISPER_BEAM
# Number of candidates to consider simultaneously during transcription.
WHISPER_BEAM=1

# WHISPER_LANG
# Language that you will speak to the add-on.
WHISPER_LANG=en

