# Environment variables for Chrony NTP

# LOG_LEVEL
LOG_LEVEL=0

# NTP_SERVERS
# Additional Example: time1.google.com,time2.google.com,time3.google.com,time4.google.com
NTP_SERVERS=time.cloudflare.com

