# Environment variables for Calibre

# for GroupID
PUID=1024

# for UserID
PGID=100

# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# Optionally set a password for the gui.
PASSWORD=changeme

# Optionally pass cli start arguments to calibre.
CLI_ARGS=

