# Environment variables for Calibre

# PUID
# for GroupID
PUID=1024

# PGID
# for UserID
PGID=100

# TZ
# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# PASSWORD
# Optionally set a password for the gui.
PASSWORD=

# CLI_ARGS
# Optionally pass cli start arguments to calibre.
CLI_ARGS=

