# Environment variables for Manyfold

# PUID
# for UserID
PUID=1024

# PGID
# for GroupID
PGID=100

# TZ
# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# DATABASE_URL
# Database connection URL. For sqlite use `sqlite3:/config/manyfold.sqlite3`. For postgres or mariadb use `<scheme>://<username>:<password>@<hostname>:<port>/<db name>` where `<scheme>` is `postgresql` or `mysql2`. Special characters in username/password must be [URL encoded](https://en.wikipedia.org/wiki/Percent-encoding).
DATABASE_URL=

# REDIS_URL
# Redis/Valkey database URL in `redis://<hostname>:<port>/<db number>` format.
REDIS_URL=

# SECRET_KEY_BASE
# Browser session secret. Changing it will terminate all active browser sessions.
SECRET_KEY_BASE=

