# Environment variables for Manyfold

# for UserID
PUID=1024

# for GroupID
PGID=100

# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# Database connection URL. For sqlite use `sqlite3:/config/manyfold.sqlite3`. For postgres or mariadb use `<scheme>://<username>:<password>@<hostname>:<port>/<db name>` where `<scheme>` is `postgresql` or `mysql2`. Special characters in username/password must be [URL encoded](https://en.wikipedia.org/wiki/Percent-encoding).
DATABASE_URL=http://localhost

# Redis/Valkey database URL in `redis://<hostname>:<port>/<db number>` format.
REDIS_URL=http://localhost

# Browser session secret. Changing it will terminate all active browser sessions.
SECRET_KEY_BASE=changeme

