# Environment variables for Airsonic-advanced

# for GroupID
PUID=1024

# for UserID
PGID=100

# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# For setting url-base in reverse proxy setups.
CONTEXT_PATH=<URL_BASE>

# For passing additional java options.
JAVA_OPTS=<options>

