# Environment variables for Asciinema {shmolf}

# PUID
PUID=1000

# PGID
PGID=1000

# Hostname
# Localhost for use within the application runtime
HOST_NAME=localhost

# Host Port
# Published port for use within the application runtime
HOST_PORT=3033

# Secret Application Key
SECRET_KEY=please-change-this-to-a-random-secret

