# Environment variables for Kanzi

# PUID
# for GroupID
PUID=1024

# PGID
# for UserID
PGID=100

# TZ
# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# INVOCATION_NAME
# Specify an invocation name for this skill, use either kanzi or kod.
INVOCATION_NAME=kanzi

# URL_ENDPOINT
# Specify the URL at which the webserver is reachable either `https://kanzi.server.com/` or `https://server.com/kanzi/` Note the trailing slash **MUST** be included.
URL_ENDPOINT=https://server.com/kanzi/

