# Environment variables for Transmission-OpenVPN

PUID=1000

PGID=100

# https://haugene.github.io/docker-transmission-openvpn/supported-providers/
OPENVPN_PROVIDER=MULLVAD

OPENVPN_USERNAME=

OPENVPN_PASSWORD=changeme

LOCAL_NETWORK=192.168.0.0/24

