# Environment variables for Transmission OpenVPN v3

# PUID
PUID=1000

# PGID
PGID=1000

# OPENVPN_PROVIDER
# https://haugene.github.io/docker-transmission-openvpn/supported-providers/
OPENVPN_PROVIDER=MULLVAD

# OPENVPN_CONFIG
# Optional. Mostly used to narrow down what location to use by the provider
OPENVPN_CONFIG=

# OPENVPN_USERNAME
OPENVPN_USERNAME=

# OPENVPN_PASSWORD
OPENVPN_PASSWORD=

# LOCAL_NETWORK
LOCAL_NETWORK=192.168.0.0/24

# watch-dir-enabled
TRANSMISSION_WATCH_DIR_ENABLED=true

