# Environment variables for Steamos

# PUID
# for UserID
PUID=1024

# PGID
# for GroupID
PGID=100

# TZ
# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# DRINODE
# Specify the render device (GPU) for the contianer to use.
DRINODE=/dev/dri/renderD128

# HOST_IP
# Specify the IP of the host, needed for LAN Remote Play.
HOST_IP=192.168.100.10

# STARTUP
# KDE to boot into desktop mode, BIGPICTURE to boot into gamescope.
STARTUP=KDE

# RESOLUTION
# When booting into BIGPICTURE mode the screen resolution will be bound to this value.
RESOLUTION=1920x1080

