# Environment variables for Paperless NGX

# PUID
# for UserID
PUID=1000

# PGID
# for GroupID
PGID=1000

# TZ
# Specify a timezone to use for example America/New_York
TZ=America/New_York

# PAPERLESS_URL
# Example https://paperless.example.com.  It would be best to run this behind a reverse proxy
PAPERLESSURL=

# Administrator username
# Set the name of the default admin user.
ADMIN_USER=

# Administrator password
# Set the password of the default admin user.
ADMIN_PASS=

# Secret Key
# This should be a very long sequence of random characters.
RANDOMKEY=

# OCR Language
# The default language to use for OCR
LANG=eng

