version: '3.8'

services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "1010:80/tcp"
      - "4443:443/tcp"
    volumes:
      - /portainer/Files/AppData/Config/PiHole:/etc/pihole
      - /portainer/Files/AppData/Config/PiHole/DNS:/etc/dnsmasq.d
