# Environment variables for Netbox

# for GroupID
PUID=1024

# for UserID
PGID=100

# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# Email address for `admin` account
SUPERUSER_EMAIL=<SUPERUSER_EMAIL>

# Password for `admin` account
SUPERUSER_PASSWORD=<SUPERUSER_PASSWORD>

# The hostname you will use to access the app (i.e., netbox.example.com)
ALLOWED_HOST=<ALLOWED_HOST>

# Database name (default: netbox)
DB_NAME=<DB_NAME>

# Database user
DB_USER=<DB_USER>

# Database password
DB_PASSWORD=<DB_PASSWORD>

# Database host (default: postgres)
DB_HOST=<DB_HOST>

# Database port (defaul: 5432)
DB_PORT=<DB_PORT>

# Redis host (default: redis)
REDIS_HOST=<REDIS_HOST>

# Redis port number (default: 6379)
REDIS_PORT=<REDIS_PORT>

# Redis password (default: none)
REDIS_PASSWORD=<REDIS_PASSWORD>

# Redis database ID for tasks (default: 0)
REDIS_DB_TASK=<REDIS_DB_TASK>

# Redis database ID for caching (default: 1)
REDIS_DB_CACHE=<REDIS_DB_CACHE>

# The path you will use to access the app (i.e., /netbox, optional, default: none)
BASE_PATH=<BASE_PATH>

# Enable remote authentication (optional, default: False)
REMOTE_AUTH_ENABLED=<REMOTE_AUTH_ENABLED>

# Python path to the custom Django authentication backend to use for external user authentication (optional, default: netbox.authentication.RemoteUserBackend)
REMOTE_AUTH_BACKEND=<REMOTE_AUTH_BACKEND>

# Name of the HTTP header which informs NetBox of the currently authenticated user. (optional, default: HTTP_REMOTE_USER)
REMOTE_AUTH_HEADER=<REMOTE_AUTH_HEADER>

# If true, NetBox will automatically create local accounts for users authenticated via a remote service (optional, default: False)
REMOTE_AUTH_AUTO_CREATE_USER=<REMOTE_AUTH_AUTO_CREATE_USER>

# The list of groups to assign a new user account when created using remote authentication (optional, default: [])
REMOTE_AUTH_DEFAULT_GROUPS=<REMOTE_AUTH_DEFAULT_GROUPS>

# A mapping of permissions to assign a new user account when created using remote authentication (optional, default: {})
REMOTE_AUTH_DEFAULT_PERMISSIONS=<REMOTE_AUTH_DEFAULT_PERMISSIONS>

