# Environment variables for Let's Encrypt

# EMAIL
EMAIL=

# URL
URL=

# SUBDOMAINS
SUBDOMAINS=

# ONLY_SUBDOMAINS
ONLY_SUBDOMAINS=

# DHLEVEL
DHLEVEL=

# PUID
PUID=1000

# PGID
PGID=100

# VALIDATION
VALIDATION=

# DNSPLUGIN
DNSPLUGIN=

