# Environment variables for Passbolt

# Enter your user's PUID here
PUID=1000

# Enter your user's PGID here
PGID=1000

# Enter your time zone here. See examples https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Europe/Zurich

# Enter your MySql root password here
MYSQL_ROOT_PASSWORD=changeme

# Enter your Passbolt database name here
MYSQL_DATABASE=passbolt

# Enter your Passbolt database user here
MYSQL_USER=passbolt

# Enter your Passbolt database password here
MYSQL_PASSWORD=changeme

# Enter your Passbolt https port here
PASSBOLT_PORT=443

# Enter your full Passbolt https base URL here. Including port if different from 443
PASSBOLT_URL=https://passbolt.local

# Enter your from email name
EMAIL_FROM_NAME=Passbolt

# Enter your from email address
EMAIL_FROM_ADDRESS=

# Enter your email smtp server here
EMAIL_SMTP_SERVER=smtp.gmail.com

# Enter your email smtp port here
EMAIL_SMTP_PORT=587

# Enter your email username here
EMAIL_USERNAME=

# Enter your email password here
EMAIL_PASSWORD=changeme

# Enter set TLS here
EMAIL_TLS=true

