# Environment variables for Passbolt

# PUID
# Enter your user's PUID here
PUID=1000

# PGID
# Enter your user's PGID here
PGID=1000

# TZ
# Enter your time zone here. See examples https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Europe/Zurich

# MYSQL_ROOT_PASSWORD
# Enter your MySql root password here
MYSQL_ROOT_PASSWORD=

# MYSQL_DATABASE
# Enter your Passbolt database name here
MYSQL_DATABASE=passbolt

# MYSQL_USER
# Enter your Passbolt database user here
MYSQL_USER=passbolt

# MYSQL_PASSWORD
# Enter your Passbolt database password here
MYSQL_PASSWORD=

# PASSBOLT_PORT
# Enter your Passbolt https port here
PASSBOLT_PORT=443

# PASSBOLT_URL
# Enter your full Passbolt https base URL here. Including port if different from 443
PASSBOLT_URL=https://passbolt.local

# EMAIL_FROM_NAME
# Enter your from email name
EMAIL_FROM_NAME=Passbolt

# EMAIL_FROM_ADDRESS
# Enter your from email address
EMAIL_FROM_ADDRESS=

# EMAIL_SMTP_SERVER
# Enter your email smtp server here
EMAIL_SMTP_SERVER=smtp.gmail.com

# EMAIL_SMTP_PORT
# Enter your email smtp port here
EMAIL_SMTP_PORT=587

# EMAIL_USERNAME
# Enter your email username here
EMAIL_USERNAME=

# EMAIL_PASSWORD
# Enter your email password here
EMAIL_PASSWORD=

# EMAIL_TLS
# Enter set TLS here
EMAIL_TLS=true

