# Environment variables for Outline

NODE_ENV=production

SECRET_KEY=changeme

UTILS_SECRET=changeme

DATABASE_URL=http://localhost

DATABASE_URL_TEST=http://localhost

DATABASE_CONNECTION_POOL_MIN=

DATABASE_CONNECTION_POOL_MAX=

REDIS_URL=http://localhost

URL=http://localhost

PORT=3000

COLLABORATION_URL=http://localhost

GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_SECRET=changeme

SSL_KEY=

SSL_CERT=

FORCE_HTTPS=true

ENABLE_UPDATES=true

WEB_CONCURRENCY=1

MAXIMUM_IMPORT_SIZE=5120000

DEBUG=http

LOG_LEVEL=info

GOOGLE_ANALYTICS_ID=

SENTRY_DSN=

SENTRY_TUNNEL=

SMTP_HOST=http://localhost

SMTP_PORT=

SMTP_USERNAME=

SMTP_PASSWORD=changeme

SMTP_FROM_EMAIL=

SMTP_REPLY_EMAIL=

SMTP_TLS_CIPHERS=

SMTP_SECURE=true

DEFAULT_LANGUAGE=en_US

RATE_LIMITER_ENABLED=true

RATE_LIMITER_REQUESTS=1000

RATE_LIMITER_DURATION_WINDOW=60

