version: '3.8'

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
      - "8080:8080/tcp"
    volumes:
      - /portainer/Files/AppData/Config/traefik/traefik.yml:/traefik.yml
      - /portainer/Files/AppData/Config/traefik/config.yml:/config.yml
      - /portainer/Files/AppData/Config/traefik/acme.json:/acme.json
      - /var/run/docker.sock:/var/run/docker.sock
