# Environment variables for Infisical {shmolf}

# Http Port
PORT=8078

# Encryption Key
# Required key for platform encryption/decryption ops. 32 character hex string
ENCRYPTION_KEY=c6606cd2daad581c4de96531427aae0d

# JWT Key
# Required secrets to sign JWT tokens
AUTH_SECRET=5lrMXKKWCVocS/uerPsl7V+TX/aaUaI7iDkgl3tSmLE=

# Postgres Password
POSTGRES_PASSWORD=postgres_password

# Postgres User
POSTGRES_USER=infisical

# Postgres Database
POSTGRES_DB=infisical

# DB Connection URI
DB_CONNECTION_URI=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# Website URL
SITE_URL=http://localhost:8078

# Redis URL
REDIS_URL=redis://redis:6379

# Email Host (Optional)
SMTP_HOST=

# Email Port (Optional)
SMTP_PORT=

# Email Name (Optional)
SMTP_NAME=

# Email Username (Optional)
SMTP_USERNAME=

# Email Password (Optional)
SMTP_PASSWORD=

# Heroku Client ID (Optional)
# Optional, only needed if integration is used
CLIENT_ID_HEROKU=

# Heroku Client Secret (Optional)
# Optional, only needed if integration is used
CLIENT_SECRET_HEROKU=

# Vercel Client ID (Optional)
# Optional, only needed if integration is used
CLIENT_ID_VERCEL=

# Vercel Client Secret (Optional)
# Optional, only needed if integration is used
CLIENT_SECRET_VERCEL=

# Vercel Client Slug (Optional)
# Optional, only needed if integration is used
CLIENT_SLUG_VERCEL=

# Netlify Client ID (Optional)
# Optional, only needed if integration is used
CLIENT_ID_NETLIFY=

# Netlify Client Secret (Optional)
# Optional, only needed if integration is used
CLIENT_SECRET_NETLIFY=

# GitHub Client ID (Optional)
# Optional, only needed if integration is used
CLIENT_ID_GITHUB=

# GitHub Client Secret (Optional)
# Optional, only needed if integration is used
CLIENT_SECRET_GITHUB=

# GitLab Client ID (Optional)
# Optional, only needed if integration is used
CLIENT_ID_GITLAB=

# GitLab Client Secret (Optional)
# Optional, only needed if integration is used
CLIENT_SECRET_GITLAB=

# Bitbucket Client ID (Optional)
# Optional, only needed if integration is used
CLIENT_ID_BITBUCKET=

# Bitbucket Client Secret (Optional)
# Optional, only needed if integration is used
CLIENT_SECRET_BITBUCKET=

# Sentry DSN (Optional)
# Optional, only needed if monitoring is used
SENTRY_DSN=

# Google Client ID (Optional)
# Optional, only needed if SSO is used
CLIENT_ID_GOOGLE_LOGIN=

# Google Client Secret (Optional)
# Optional, only needed if SSO is used
CLIENT_SECRET_GOOGLE_LOGIN=

# GitHub Client ID (Optional)
# Optional, only needed if SSO is used
CLIENT_ID_GITHUB_LOGIN=

# GitHub Client Secret (Optional)
# Optional, only needed if SSO is used
CLIENT_SECRET_GITHUB_LOGIN=

# GitLab Client ID (Optional)
# Optional, only needed if SSO is used
CLIENT_ID_GITLAB_LOGIN=

# GitLab Client Secret (Optional)
# Optional, only needed if SSO is used
CLIENT_SECRET_GITLAB_LOGIN=

# Captcha Secret (Optional)
# Optional, only needed if captcha is used
CAPTCHA_SECRET=

# Captcha Site Key (Optional)
# Optional, only needed if captcha is used
NEXT_PUBLIC_CAPTCHA_SITE_KEY=

# Plain API Key (Optional)
# Optional, only needed if Plain is used
PLAIN_API_KEY=

# Plain Wish Label IDs (Optional)
# Optional, only needed if Plain is used
PLAIN_WISH_LABEL_IDS=

