# Environment variables for Pixapop

# for GroupID
PUID=1024

# for UserID
PGID=100

# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# Specify a username to enable authentication.
APP_USERNAME=admin

# Specify a password to enable authentication.
APP_PASSWORD=admin

