# Environment variables for Pixapop

# PUID
# for GroupID
PUID=1024

# PGID
# for UserID
PGID=100

# TZ
# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# APP_USERNAME
# Specify a username to enable authentication.
APP_USERNAME=admin

# APP_PASSWORD
# Specify a password to enable authentication.
APP_PASSWORD=admin

