# Environment variables for MinIO

# PUID
PUID=1000

# PGID
PGID=1000

# MINIO_ROOT_USER
MINIO_ROOT_USER=ROOTUSER

# MINIO_ROOT_PASSWORD
MINIO_ROOT_PASSWORD=CHANGEME123

# MINIO_SERVER_URL
# URL hostname for MinIO Console if any
MINIO_SERVER_URL=

