# Environment variables for Nano

# PUID
# for GroupID
PUID=1024

# PGID
# for UserID
PGID=100

# TZ
# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# PEER_HOST
# Default peer host (can be overidden with an array by command line options)
PEER_HOST=localhost

# LIVE_GENESIS_PUB
# Genesis block public key
LIVE_GENESIS_PUB=GENESIS_PUBLIC

# LIVE_GENESIS_ACCOUNT
# Genesis block account
LIVE_GENESIS_ACCOUNT=nano_xxxxxx

# LIVE_GENESIS_WORK
# Genesis block proof of work
LIVE_GENESIS_WORK=WORK_FOR_BLOCK

# LIVE_GENESIS_SIG
# Genesis block signature
LIVE_GENESIS_SIG=BLOCK_SIGNATURE

# CLI_OPTIONS
# Node run command cli args
CLI_OPTIONS=--config node.enable_voting=true

# LMDB_BOOTSTRAP_URL
# HTTP/HTTPS endpoint to download a 7z file with the data.ldb to bootstrap to this node
LMDB_BOOTSTRAP_URL=http://example.com/Nano_64_version_20.7z

