# Environment variables for Nano

# for GroupID
PUID=1024

# for UserID
PGID=100

# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# Default peer host (can be overidden with an array by command line options)
PEER_HOST=localhost

# Genesis block public key
LIVE_GENESIS_PUB=GENESIS_PUBLIC

# Genesis block account
LIVE_GENESIS_ACCOUNT=nano_xxxxxx

# Genesis block proof of work
LIVE_GENESIS_WORK=WORK_FOR_BLOCK

# Genesis block signature
LIVE_GENESIS_SIG=BLOCK_SIGNATURE

# Node run command cli args
CLI_OPTIONS=--config node.enable_voting=true

# HTTP/HTTPS endpoint to download a 7z file with the data.ldb to bootstrap to this node
LMDB_BOOTSTRAP_URL=http://example.com/Nano_64_version_20.7z

