# Environment variables for Mealie

PUID=1000

PGID=1000

TZ=America/New_York

WEB_CONCURRENCY=2

MAX_WORKERS=8

RECIPE_PUBLIC=true

RECIPE_SHOW_NUTRITION=true

RECIPE_SHOW_ASSETS=true

RECIPE_LANDSCAPE_VIEW=true

RECIPE_DISABLE_COMMENTS=false

RECIPE_DISABLE_AMOUNT=false

