# Environment variables for Changedetection.io

# PUID
# for UserID
PUID=1024

# PGID
# for GroupID
PGID=100

# TZ
# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# BASE_URL
# Specify the full URL (including protocol) when running behind a reverse proxy
BASE_URL=

# PLAYWRIGHT_DRIVER_URL
# Specify the full URL to your chrome driver instance. See the [wiki](https://github.com/dgtlmoon/changedetection.io/wiki/Playwright-content-fetcher) for details.
PLAYWRIGHT_DRIVER_URL=

