# Environment variables for Ldap-auth

# TZ
# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# FERNETKEY
# Optionally define a custom fernet key, has to be base64-encoded 32-byte (only needed if container is frequently recreated, or if using multi-node setups, invalidating previous authentications)
FERNETKEY=

# CERTFILE
# Point this to a certificate file to enable HTTP over SSL (HTTPS) for the ldap auth daemon
CERTFILE=

# KEYFILE
# Point this to the private key file, matching the certificate file referred to in CERTFILE
KEYFILE=

