# Environment variables for Gimp

# for UserID
PUID=1024

# for GroupID
PGID=100

# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

