# Environment variables for NUT Server

# PUID
PUID=1000

# PGID
PGID=1000

# SERIAL
SERIAL=none

# NAME
NAME=none

# VENDOR ID
VENDOR ID=none

# API_PASSWORD
API_PASSWORD=none

# DESCRIPTION
DESCRIPTION=none

