version: '3.8'

services:
  freshrss:
    image: linuxserver/freshrss:latest
    container_name: freshrss
    restart: unless-stopped
    ports:
      - "80/tcp"
    volumes:
      - /portainer/Files/AppData/Config/freshrss:/config
    environment:
      PUID: 1000
      PGID: 100
