# Environment variables for Feed2toot

# PUID
# for UserID
PUID=1024

# PGID
# for GroupID
PGID=100

# TZ
# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# FEED_LIMIT
# Limit number of RSS entries published at each execution.
FEED_LIMIT=5

