version: '3.8'

services:
  duplicacy:
    image: mediadepot/duplicacy:latest
    container_name: duplicacy
    restart: unless-stopped
    ports:
      - "3875/tcp"
    volumes:
      - /opt/mediadepot/apps/duplicacy/config:/config
      - /opt/mediadepot/apps/duplicacy/logs:/logs
      - /opt/mediadepot/apps/duplicacy/cache:/cache
      - /opt/mediadepot/apps/:/source/apps
      - /media/storage/:/source/storage
    environment:
      TZ: America/Los_Angeles
    labels:
      traefik.enable: "true"
      traefik.http.services.duplicacy.loadbalancer.server.port: "3875"
      traefik.http.routers.duplicacy.entrypoints: "websecure"
      traefik.http.routers.duplicacy.tls.certresolver: "mydnschallenge"
