version: '3.8'

services:
  minecraft:
    image: itzg/minecraft-server:latest
    container_name: minecraft
    restart: unless-stopped
    ports:
      - "25565:25565/tcp"
    volumes:
      - /portainer/Files/AppData/Config/Minecraft-data:/data
    environment:
      EULA: TRUE
