# Environment variables for Healthchecks

PGID=15000

PUID=15000

TZ=America/Los_Angeles

SITE_ROOT=healthchecks.depot.lan

SITE_NAME=healthchecks

DEFAULT_FROM_EMAIL=healthchecks@depot.lan

EMAIL_HOST=http://localhost

EMAIL_PORT=

EMAIL_HOST_USER=http://localhost

EMAIL_HOST_PASSWORD=changeme

EMAIL_USE_TLS=

