# Environment variables for Healthchecks

# PGID
PGID=15000

# PUID
PUID=15000

# TZ
TZ=America/Los_Angeles

# SITE_ROOT
SITE_ROOT=healthchecks.depot.lan

# SITE_NAME
SITE_NAME=healthchecks

# DEFAULT_FROM_EMAIL
DEFAULT_FROM_EMAIL=healthchecks@depot.lan

# EMAIL_HOST
EMAIL_HOST=

# EMAIL_PORT
EMAIL_PORT=

# EMAIL_HOST_USER
EMAIL_HOST_USER=

# EMAIL_HOST_PASSWORD
EMAIL_HOST_PASSWORD=

# EMAIL_USE_TLS
EMAIL_USE_TLS=

