# Environment variables for pgAdmin

# PUID
PUID=1000

# PGID
PGID=1000

# PGADMIN_DEFAULT_EMAIL
PGADMIN_DEFAULT_EMAIL=

# PGADMIN_DEFAULT_PASSWORD
PGADMIN_DEFAULT_PASSWORD=

# TZ
TZ=America/New_York

