version: '3.8'

services:
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: unless-stopped
    ports:
      - "5050:80/tcp"
    volumes:
      - /portainer/Files/AppData/Config/pgadmin:/var/lib/pgadmin
    environment:
      PUID: 1000
      PGID: 1000
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      TZ: America/New_York
