# Environment variables for Piper

# for UserID
PUID=1024

# for GroupID
PGID=100

# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# The [Piper voice](https://huggingface.co/rhasspy/piper-voices/tree/main) to use, in the format `<language>-<name>-<quality>`
PIPER_VOICE=en_US-lessac-medium

# Voice speaking rate, 1.0 is default with < 1.0 being faster and > 1.0 being slower.
PIPER_LENGTH=1.0

# Controls the variability of the voice by adding noise. Values above 1 will start to degrade audio.
PIPER_NOISE=0.667

# Controls the variability of speaking cadence. Values above 1 produce extreme stutters and pauses.
PIPER_NOISEW=0.333

# Speaker number to use if the voice supports multiple speakers.
PIPER_SPEAKER=0

# Number of Piper processes to run simultaneously.
PIPER_PROCS=1

