# Environment variables for Phpmyadmin

# for GroupID
PUID=1024

# for UserID
PGID=100

# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# Set to `1` to allow you to connect to any server. Setting to `0` will only allow you to connect to specified hosts (See Application Setup)
PMA_ARBITRARY=1

# Set the URL you will use to access the web frontend
PMA_ABSOLUTE_URI=https://phpmyadmin.example.com

