# Environment variables for Unifi-network-application

# for UserID
PUID=1024

# for GroupID
PGID=100

# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# Mongodb Username. Only evaluated on first run. **Special characters must be [url encoded](https://en.wikipedia.org/wiki/Percent-encoding)**.
MONGO_USER=unifi

# Mongodb Password. Only evaluated on first run. **Special characters must be [url encoded](https://en.wikipedia.org/wiki/Percent-encoding)**.
MONGO_PASS=

# Mongodb Hostname. Only evaluated on first run.
MONGO_HOST=unifi-db

# Mongodb Port. Only evaluated on first run.
MONGO_PORT=27017

# Mongodb Database Name (stats DB is automatically suffixed with `_stat`). Only evaluated on first run.
MONGO_DBNAME=unifi

# Mongodb [authSource](https://www.mongodb.com/docs/manual/reference/connection-string/#mongodb-urioption-urioption.authSource). For Atlas set to `admin`. Only evaluated on first run.
MONGO_AUTHSOURCE=admin

# Optionally change the Java memory limit (in Megabytes). Set to `default` to reset to default
MEM_LIMIT=1024

# Optionally change the Java initial/minimum memory (in Megabytes). Set to `default` to reset to default
MEM_STARTUP=1024

# Mongodb enable [TLS](https://www.mongodb.com/docs/manual/reference/connection-string/#mongodb-urioption-urioption.tls). Only evaluated on first run.
MONGO_TLS=

