version: '3.8'

services:
  mariadb:
    image: linuxserver/mariadb:latest
    container_name: mariadb
    restart: unless-stopped
    ports:
      - "3306:3306/tcp"
    volumes:
      - /portainer/Files/AppData/Config/Mariadb:/config
    environment:
      PUID: 1000
      PGID: 100
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
