# Environment variables for Code-server {shmolf}

# PUID
# for UserID
PUID=1000

# PGID
# for GroupID
PGID=1000

# TZ
# specify a timezone to use
TZ=Europe/Amsterdam

# PASSWORD
# Optional web gui password, if `PASSWORD` or `HASHED_PASSWORD` is not provided, there will be no auth.
PASSWORD=password

# HASHED_PASSWORD
# Optional web gui password, overrides `PASSWORD`, instructions on how to create it is below.
HASHED_PASSWORD=

# SUDO_PASSWORD
# If this optional variable is set, user will have sudo access in the code-server terminal with the specified password.
SUDO_PASSWORD=password

# SUDO_PASSWORD_HASH
# Optionally set sudo password via hash (takes priority over `SUDO_PASSWORD` var). Format is `$type$salt$hashed`.
SUDO_PASSWORD_HASH=

# PROXY_DOMAIN
# If this optional variable is set, this domain will be proxied for subdomain proxying.
PROXY_DOMAIN=code-server.my.domain

# DEFAULT_WORKSPACE
# If this optional variable is set, code-server will open this directory by default
DEFAULT_WORKSPACE=/config/workspace

