version: '3.8'

services:
  code-server:
    image: linuxserver/code-server:latest
    container_name: code-server
    restart: unless-stopped
    ports:
      - "8443:8443/tcp"
    volumes:
      - /portainer/Files/AppData/Config/code-server:/config
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Amsterdam
      PASSWORD: password
      HASHED_PASSWORD: ${HASHED_PASSWORD}
      SUDO_PASSWORD: password
      SUDO_PASSWORD_HASH: ${SUDO_PASSWORD_HASH}
      PROXY_DOMAIN: code-server.my.domain
      DEFAULT_WORKSPACE: /config/workspace
