version: '3.8'

services:
  code-server:
    image: linuxserver/code-server:latest
    container_name: code-server
    restart: unless-stopped
    ports:
      - "8443:8443/tcp"
    volumes:
      - /portainer/Files/AppData/Config/Code-Server:/config
    environment:
      PUID: 1000
      GUID: 1000
      TZ: ${TZ}
      PASSWORD: ${PASSWORD}
      SUDO_PASSWORD: ${SUDO_PASSWORD}
      PROXY_DOMAIN: example.my.domain
