# Environment variables for FoundryVTT Server

# Foundry Account Name
FOUNDRY_USERNAME=John

# Foundry Password
FOUNDRY_PASSWORD=password

# Instance Admin Password
FOUNDRY_ADMIN_KEY=changeme

CONTAINER_PRESERVE_CONFIG=true

