# Environment variables for Pwndrop

# for UserID
PUID=1024

# for GroupID
PGID=100

# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# Secret path for admin access. Defaults to `/pwndrop`. This parameter only takes effect during initial install; it can later be changed in the web gui.
SECRET_PATH=/pwndrop

