# Environment variables for Pwndrop

# PUID
# for UserID
PUID=1024

# PGID
# for GroupID
PGID=100

# TZ
# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# SECRET_PATH
# Secret path for admin access. Defaults to `/pwndrop`. This parameter only takes effect during initial install; it can later be changed in the web gui.
SECRET_PATH=/pwndrop

