version: '3.8'

services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    ports:
      - "9001/tcp"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
