version: '3.8'

services:
  nodered:
    image: nodered/node-red
    container_name: nodered
    restart: unless-stopped
    ports:
      - "1880:1880/tcp"
    volumes:
      - /portainer/Files/AppData/Config/Nodered:/data
