# Environment variables for Quassel-web

# for UserID
PUID=1024

# for GroupID
PGID=100

# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# specify the URL or IP address of your Quassel Core instance
QUASSEL_CORE=192.168.1.10

# specify the port of your Quassel Core instance
QUASSEL_PORT=4242

# Set to `true` to have Quassel web serve over https on port 64443 instead of http on port 64080.
QUASSEL_HTTPS=

# Specify a url-base in reverse proxy setups ie. `/quassel`
URL_BASE=/quassel

