# Environment variables for Seafile

# Time Zone
TIME_ZONE=Etc/UTC

# Database Password
MYSQL_ROOT_PASSWORD=password

# Administrator Email
ADMIN_EMAIL=me@example.com

# Administrator Password
ADMIN_PASSWORD=asecret

# Domain Name
SERVER_HOSTNAME=docs.seafile.com

# Enable HTTPS?
ENABLE_HTTPS=

