# Environment variables for Openvscode-server

# PUID
# for UserID
PUID=1024

# PGID
# for GroupID
PGID=100

# TZ
# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# CONNECTION_TOKEN
# Optional security token for accessing the Web UI (ie. `supersecrettoken`).
CONNECTION_TOKEN=

# CONNECTION_SECRET
# Optional path to a file inside the container that contains the security token for accessing the Web UI (ie. `/path/to/file`). Overrides `CONNECTION_TOKEN`.
CONNECTION_SECRET=

# SUDO_PASSWORD
# If this optional variable is set, user will have sudo access in the openvscode-server terminal with the specified password.
SUDO_PASSWORD=password

# SUDO_PASSWORD_HASH
# Optionally set sudo password via hash (takes priority over `SUDO_PASSWORD` var). Format is `$type$salt$hashed`.
SUDO_PASSWORD_HASH=

