# Environment variables for Calibre Web

# for UserID
PUID=15000

# for GroupID
PGID=15000

# Specify a timezone to use for example Europe/Amsterdam
TZ=America/Los_Angeles

# #optional & **x86-64 only** Adds the ability to perform ebook conversion
DOCKER_MODS=linuxserver/mods:universal-calibre

# Optionally set this to allow Google OAUTH to work
OAUTHLIB_RELAX_TOKEN_SCOPE=1

