# Environment variables for Calibre Web

# PUID
# for UserID
PUID=15000

# PGID
# for GroupID
PGID=15000

# TZ
# Specify a timezone to use for example Europe/Amsterdam
TZ=America/Los_Angeles

# DOCKER_MODS
# #optional & **x86-64 only** Adds the ability to perform ebook conversion
DOCKER_MODS=linuxserver/mods:universal-calibre

# OAUTHLIB_RELAX_TOKEN_SCOPE
# Optionally set this to allow Google OAUTH to work
OAUTHLIB_RELAX_TOKEN_SCOPE=1

