version: '3.8'

services:
  calibreweb:
    image: linuxserver/calibre-web:latest
    container_name: calibreweb
    restart: unless-stopped
    ports:
      - "8083/tcp"
    volumes:
      - /opt/mediadepot/apps/calibre-web/config:/config
      - /media/storage/ebooks:/books
    environment:
      PUID: 15000
      PGID: 15000
      TZ: America/Los_Angeles
      DOCKER_MODS: "linuxserver/mods:universal-calibre"
      OAUTHLIB_RELAX_TOKEN_SCOPE: 1
    labels:
      traefik.enable: "true"
      traefik.http.services.calibreweb.loadbalancer.server.port: "8083"
      traefik.http.routers.calibreweb.entrypoints: "websecure"
      traefik.http.routers.calibreweb.tls.certresolver: "mydnschallenge"
