# Environment variables for Pylon

# for UserID
PUID=1024

# for GroupID
PGID=100

# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# Specify a git repo to checkout on first startup
GITURL=https://github.com/linuxserver/docker-pylon.git

# Specify a basic auth user.
PYUSER=myuser

# Specify a basic auth password.
PYPASS=mypass

