# Environment variables for Transmission OpenVPN Latest

PUID=1000

PGID=1000

# https://haugene.github.io/docker-transmission-openvpn/supported-providers/
OPENVPN_PROVIDER=MULLVAD

# Optional. Mostly used to narrow down what location to use by the provider
OPENVPN_CONFIG=

OPENVPN_USERNAME=

OPENVPN_PASSWORD=changeme

LOCAL_NETWORK=192.168.0.0/24

# watch-dir-enabled
TRANSMISSION_WATCH_DIR_ENABLED=true

