# Environment variables for Habridge

# for GroupID
PUID=1024

# for UserID
PGID=100

# Key used to secure communication.
SEC_KEY=<Your Key To Encrypt Security Data>

# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

