# Environment variables for Openssh-server

# for GroupID
PUID=1024

# for UserID
PGID=100

# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# Optional ssh public key, which will automatically be added to authorized_keys.
PUBLIC_KEY=yourpublickey

# Optionally specify a file containing the public key (works with docker secrets).
PUBLIC_KEY_FILE=/path/to/file

# Optionally specify a directory containing the public keys (works with docker secrets).
PUBLIC_KEY_DIR=/path/to/directory/containing/_only_/pubkeys

# Optionally specify a URL containing the public key.
PUBLIC_KEY_URL=https://github.com/username.keys

# Set to `true` to allow `linuxserver.io`, the ssh user, sudo access. Without `USER_PASSWORD` set, this will allow passwordless sudo access.
SUDO_ACCESS=false

# Set to `true` to allow user/password ssh access. You will want to set `USER_PASSWORD` or `USER_PASSWORD_FILE` as well.
PASSWORD_ACCESS=false

# Optionally set a sudo password for `linuxserver.io`, the ssh user. If this or `USER_PASSWORD_FILE` are not set but `SUDO_ACCESS` is set to true, the user will have passwordless sudo access.
USER_PASSWORD=password

# Optionally specify a file that contains the password. This setting supersedes the `USER_PASSWORD` option (works with docker secrets).
USER_PASSWORD_FILE=/path/to/file

# Optionally specify a user name (Default:`linuxserver.io`)
USER_NAME=linuxserver.io

