# Environment variables for Mullvad-browser

# PUID
# for UserID
PUID=1024

# PGID
# for GroupID
PGID=100

# TZ
# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# LOCAL_NET
# If using a VPN, set this to your local LAN IP range using CIDR notation. Without it you will be unable to access the web interface. If you have multiple ranges or a complex LAN setup you will need to manage this yourself in the wg0.conf, see the App Setup section for details.
LOCAL_NET=192.168.0.0/16

