# Environment variables for Stirling PDF {shmolf}

PUID=1000

PGID=1000

# Enable Login
# If you want to enable the login, you'll also need to enable login through the Config's settings.yml
DOCKER_ENABLE_SECURITY=

