# Environment variables for Endlessh

# for GroupID
PUID=1024

# for UserID
PGID=100

# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# The endless banner is sent one line at a time. This is the delay in milliseconds between individual lines.
MSDELAY=10000

# The length of each line is randomized. This controls the maximum length of each line. Shorter lines may keep clients on for longer if they give up after a certain number of bytes.
MAXLINES=32

# Maximum number of connections to accept at a time. Connections beyond this are not immediately rejected, but will wait in the queue.
MAXCLIENTS=4096

# By default, the app logs to container log. If this is set to `true`, the log will be output to file under `/config/logs/endlessh` (`/config` needs to be mapped).
LOGFILE=false

# By default, the app binds to IPv4 and IPv6 addresses. Set it to `4` or `6` to bind to IPv4 only or IPv6 only, respectively. Leave blank to bind to both.
BINDFAMILY=

