# Environment variables for Doplarr

# for UserID
PUID=1024

# for GroupID
PGID=100

# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# Specify your discord bot token.
DISCORD__TOKEN=

# Specify your Overseerr API key. Leave blank if using Radarr/Sonarr.
OVERSEERR__API=

# Specify your Overseerr URL. Leave blank if using Radarr/Sonarr.
OVERSEERR__URL=http://localhost:5055

# Specify your Radarr API key. Leave blank if using Overseerr.
RADARR__API=

# Specify your Radarr URL. Leave blank if using Overseerr.
RADARR__URL=http://localhost:7878

# Specify your Sonarr API key. Leave blank if using Overseerr.
SONARR__API=

# Specify your Sonarr URL. Leave blank if using Overseerr.
SONARR__URL=http://localhost:8989

# Sets the maximum size of the search results selection
DISCORD__MAX_RESULTS=25

# Sets the style of the request alert message. One of `:plain` `:embed` `:none`
DISCORD__REQUESTED_MSG_STYLE=:plain

# The name of the quality profile to use by default for Sonarr
SONARR__QUALITY_PROFILE=

# The name of the quality profile to use by default for Radarr
RADARR__QUALITY_PROFILE=

# The root folder to use by default for Sonarr
SONARR__ROOTFOLDER=

# The root folder to use by default for Radarr
RADARR__ROOTFOLDER=

# The name of the language profile to use by default for Sonarr
SONARR__LANGUAGE_PROFILE=

# The Overseerr user id to use by default if there is no associated discord account for the requester
OVERSEERR__DEFAULT_ID=

# Sets whether users can request partial seasons.
PARTIAL_SEASONS=true

# The log level for the logging backend. This can be changed for debugging purposes. One of trace `:debug` `:info` `:warn` `:error` `:fatal` `:report`
LOG_LEVEL=:info

# For passing additional java options.
JAVA_OPTS=

