# Environment variables for Doplarr

# PUID
# for UserID
PUID=1024

# PGID
# for GroupID
PGID=100

# TZ
# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# DISCORD__TOKEN
# Specify your discord bot token.
DISCORD__TOKEN=

# OVERSEERR__API
# Specify your Overseerr API key. Leave blank if using Radarr/Sonarr.
OVERSEERR__API=

# OVERSEERR__URL
# Specify your Overseerr URL. Leave blank if using Radarr/Sonarr.
OVERSEERR__URL=http://localhost:5055

# RADARR__API
# Specify your Radarr API key. Leave blank if using Overseerr.
RADARR__API=

# RADARR__URL
# Specify your Radarr URL. Leave blank if using Overseerr.
RADARR__URL=http://localhost:7878

# SONARR__API
# Specify your Sonarr API key. Leave blank if using Overseerr.
SONARR__API=

# SONARR__URL
# Specify your Sonarr URL. Leave blank if using Overseerr.
SONARR__URL=http://localhost:8989

# DISCORD__MAX_RESULTS
# Sets the maximum size of the search results selection
DISCORD__MAX_RESULTS=25

# DISCORD__REQUESTED_MSG_STYLE
# Sets the style of the request alert message. One of `:plain` `:embed` `:none`
DISCORD__REQUESTED_MSG_STYLE=:plain

# SONARR__QUALITY_PROFILE
# The name of the quality profile to use by default for Sonarr
SONARR__QUALITY_PROFILE=

# RADARR__QUALITY_PROFILE
# The name of the quality profile to use by default for Radarr
RADARR__QUALITY_PROFILE=

# SONARR__ROOTFOLDER
# The root folder to use by default for Sonarr
SONARR__ROOTFOLDER=

# RADARR__ROOTFOLDER
# The root folder to use by default for Radarr
RADARR__ROOTFOLDER=

# SONARR__LANGUAGE_PROFILE
# The name of the language profile to use by default for Sonarr
SONARR__LANGUAGE_PROFILE=

# OVERSEERR__DEFAULT_ID
# The Overseerr user id to use by default if there is no associated discord account for the requester
OVERSEERR__DEFAULT_ID=

# PARTIAL_SEASONS
# Sets whether users can request partial seasons.
PARTIAL_SEASONS=true

# LOG_LEVEL
# The log level for the logging backend. This can be changed for debugging purposes. One of trace `:debug` `:info` `:warn` `:error` `:fatal` `:report`
LOG_LEVEL=:info

# JAVA_OPTS
# For passing additional java options.
JAVA_OPTS=

