# Environment variables for Nginx Proxy Manager v2 with Sqlite and Goaccess Charts

# PUID
PUID=1000

# PGID
PGID=1000

# TZ
TZ=America/New_York

# SKIP_ARCHIVED_LOGS
# Defaults to false. Set to true to skip archived logs, i.e. proxy-host*.gz
SKIP_ARCHIVED_LOGS=false

# BASIC_AUTH
# Defaults to false. Set to true to enable nginx basic authentication. Docker container needs to stopped or restarted each time this flag is modified. This allows for the .htpasswd file to be changed accordingly.
BASIC_AUTH=false

# BASIC_AUTH_USERNAME Ignore if Basic Auth set to false
# (Optional) Requires BASIC_AUTH to bet set to true. Username for basic authentication.
BASIC_AUTH_USERNAME=user

# BASIC_AUTH_PASSWORD Ignore if Basic Auth set to false
# (Optional) Requires BASIC_AUTH to bet set to true. Password for basic authentication.
BASIC_AUTH_PASSWORD=Password

