# Environment variables for Booksonic-air

# PUID
# for GroupID
PUID=1024

# PGID
# for UserID
PGID=100

# TZ
# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# CONTEXT_PATH
# Base url for use with reverse proxies etc.
CONTEXT_PATH=url-base

