# Environment variables for Booksonic-air

# for GroupID
PUID=1024

# for UserID
PGID=100

# Specify a timezone to use for example Europe/Amsterdam
TZ=Europe/Amsterdam

# Base url for use with reverse proxies etc.
CONTEXT_PATH=url-base

