# Environment variables for Diskover

# PUID
# for UserID
PUID=1024

# PGID
# for GroupID
PGID=100

# TZ
# specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
TZ=Europe/Amsterdam

# ES_HOST
# ElasticSearch host (optional)
ES_HOST=elasticsearch

# ES_PORT
# ElasticSearch port (optional)
ES_PORT=9200

