version: '3.8'

services:
  filebrowser:
    image: filebrowser/filebrowser:s6
    container_name: filebrowser
    restart: unless-stopped
    ports:
      - "8082:80/tcp"
    volumes:
      - /portainer/Downloads:/srv
      - /portainer/Files/AppData/Config/filebrowser/filebrowser.db:/database/filebrowser.db
      - /portainer/Files/AppData/Config/filebrowser/settings.json:/config/settings.json
    environment:
      PUID: 1000
      PGID: 1000
